[Unit]
Description=MyXray V2 SOCKS5 TCP and UDP client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=myxray
Group=myxray
ExecStart=/opt/myxray-test/bin/myxray-v2-client-current-arm64 -listen 127.0.0.1:22081 -server 170.9.59.149:11322 -server-name status.chitanda.org -tcp-transport h2 -quic-initial-packet-size 1452 -udp-local-read-buffer 4194304 -psk-file /etc/myxray-test/psk -path-file /etc/myxray-test/path -session-cache-file /var/lib/myxray-v2-client/sessions.json
Restart=on-failure
RestartSec=2s
StateDirectory=myxray-v2-client
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=true
MemoryDenyWriteExecute=true
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
